.layout {
  min-height: 100vh;
}

.ant-layout-header{
  height: 84px;
  line-height: 84px;
}

nz-header {
  background: url("../assets/image/starfield-banner.jpg");
  width: 100%;
}

nz-header>h1{
  margin: 0;
  font-size: 2.25em;
  font-weight: bold;
  padding: 0 22px;
  color: white;
}

[nz-menu] {
  line-height: 64px;
}

nz-content {
  background: url("../assets/image/starfield-banner.jpg");
  padding: 0 50px;
}


.inner-content {
  border-radius: 19px;
  background: #fff;
  padding: 24px;
  min-height: 380px;
}

nz-footer{
  background: url("../assets/image/starfield-banner.jpg");
  color: white;
  text-align: center;
}

nz-footer>h4{
  color: white;
}

