@font-face {
  font-family: Impact;
  src: url('../assets/Impact.ttf');
}

.layout {
  background-color: white;
  width: 100%;
  min-height: 100%;
  height: 100%;
}

.ant-layout-header{
  margin: auto;
  padding: 0;
  min-width: 200px;
  height: 5rem;
  background-color: transparent;

  /*垂直居中*/
  display: flex;
}


.header{
  line-height: 4rem;
  margin: 0;
  font-size: 2rem;
  font-weight: 500;
  color: #fafafa;
  /*font-family: 'JetBrainsMono', Helvetica, Arial, sans-serif;*/
  font-family: Impact, sans-serif;
  text-shadow: 0 1px 0 #888, 0 2px 3px rgb(0, 0, 0);
  transform: scale(1,1.25);

  /*垂直居中*/
  align-self: center;
}



nz-content {
  background-color: transparent;
  height: 100%;
}

.ant-layout-content{
  margin: auto;
  width: 100%;
}

.ant-layout-content > h1{
  text-align: center;
}


.inner-content {
  margin: 0 auto;
  border-radius: 1rem;
  position: relative;
  z-index: 100;
  height: auto;
  max-width: 902px;
  background: transparent;
  padding: 0;
}

@media screen and (min-width: 902px) {
  .inner-content {
    box-shadow: #a9a9a987 10px 10px 40px 5px;
  }
}



.ant-layout-footer{
  padding: 1rem 0;
  color: black;
}

nz-footer{
  background-color: transparent;
  text-align: center;
  margin: auto;
}

a{
  color: black;
}


.footer{
  font-size: 0.9rem;
  font-weight: 900;
  float: left;
}

@media screen and (min-width: 500px){
  .footer{
    font-size: 1.1rem;
  }

  .header{
    font-size: 2.5rem;
  }
}


