.layout {
  /*background: url("../assets/image/bg.gif");*/
  background-color: white;
  width: 100%;
  min-height: 100%;
  height: 100%;
}

.ant-layout-header{
  margin: auto;
  min-width: 200px;
  height: 5rem;
  background-color: transparent;
}


.header{
  line-height: 5rem;
  margin: 0;
  font-size: 1.6rem;
  font-weight: bold;
  color: black;
  font-family: 'JetBrainsMono', Helvetica, Arial, sans-serif;
}



nz-content {
  background-color: transparent;
  height: 100%;
}

.ant-layout-content{
  margin: auto;
  width: 100%;
}

.ant-layout-content > h1{
  text-align: center;
}


.inner-content {
  margin: 0 auto;
  border-radius: 1rem;
  position: relative;
  z-index: 100;
  height: auto;
  max-width: 902px;
  background: transparent;
  padding: 0;
}

@media screen and (min-width: 902px) {
  .inner-content {
    box-shadow: #a9a9a987 10px 10px 40px 5px;
  }
}



.ant-layout-footer{
  padding: 1rem 0;
}

nz-footer{
  background-color: transparent;
  text-align: center;
  margin: auto;
}

nz-footer>h4{
  color: black;
}

a{
  color: black;
}

a:hover{
  color: #0539f9;
}

.footer{
  padding: 0 0.5rem;
  font-size: 0.8rem;
  font-weight: 900;
  float: left;
}

@media screen and (min-width: 500px){
  .footer{
    padding: 0 1rem;
  }
}


