<nz-layout class="layout">
  <nz-header>
    <div class="header">{{title}}</div>
  </nz-header>
  <nz-content>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
  <nz-footer>
    <div class="footer">
      Copyright©1noob
    </div>
    <div class="footer">
      <a href="https://www.github.com/1noob">
        Github
      </a>
    </div>
    <div class="footer">
      <a href="https://space.bilibili.com/5289092">
        Bilibili
      </a>
    </div>
    <div class="footer">
      <a href="https://twitter.com/zhousongjie">
        Twitter
      </a>
    </div>
  </nz-footer>
</nz-layout>


