h4{
  font-size: 1.4rem;
  font-weight: 800;
  clear:left;
  color: #0539f9;
  margin: auto;
}


.item{
  padding: 0.5rem 0 0.5rem 2rem;
  float: left;
  margin: auto;
}


@media screen and (min-width: 500px) {
  h4{
    font-size: 1.6rem;
  }
}

